/* Additional Features CSS */
.page-header {
    padding: 150px 0px 0px;
}

.service-detail{
    padding: 50px 0px 0px;
}

.btn-primary {
    padding: 10px 20px;
    background-color: #007BFF; /* blue */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}